In [1]:
#A1
a = "akash"
b = [1,2,3,4,5,"qwerty"]
c = 4.56
d = (1,2,3,4,5)

In [2]:
#A2
var1 = ""
var2 = "[ DS , ML , Python]"
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

l = [var1, var2, var3, var4]

for i in l:
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [3]:
#A3
a = 5
b = 25
b**a
(i) /  - division operator
(ii) % - modulus operator
(iii) // - floor division
(iv) ** - exponential operator

SyntaxError: invalid syntax (455987350.py, line 5)

In [4]:
li = [1,2,"akash",3.4, [1,2,3], ("q","w","r"), 'op', 6.7,2]

for i in li:
    print (i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
akash
<class 'str'>
3.4
<class 'float'>
[1, 2, 3]
<class 'list'>
('q', 'w', 'r')
<class 'tuple'>
op
<class 'str'>
6.7
<class 'float'>
2
<class 'int'>

In [1]:
a = int(input("please enter value for a"))
b = int(input("please enter value for b"))
i = 0
c = a
if a%b==0 and b!=1:
    
    while c%b==0:
        c= c//b
        i = i+1
    print (a,"is deviisble by", b, i,"times")
    
elif b==1:
    print("every number is divisble by 1")
    
else:
    print(a,"is not divisible by", b)

please enter value for a 23
please enter value for b 2

23 is not diviisble by 2

In [8]:
a = list(range(1,25))

for i in a:
    if i%3==0:
        print(i,"is divisible by 3")
    else:
        print(i,"is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3